name: ✅Build Status Check
run-name: ✅Build Status Check (${{ github.base_ref }} branch)


on:
  pull_request_target:
    branches: [main, preview]


jobs:
  build_project:
    name: ${{ vars.PROJECT_NAME }} Build Status Check
    uses: KinsonDigital/Infrastructure/.github/workflows/build-csharp-project.yml@v13.3.1
    with:
      project-name: ${{ vars.PROJECT_NAME }}
      build-config: Debug
      net-sdk-version: ${{ vars.NET_SDK_VERSION }}
      checkout-ref: ${{ github.event.pull_request.head.ref }}
      checkout-repository: ${{ github.event.pull_request.head.repo.full_name }}
    secrets:
      cicd-pat: ${{ secrets.CICD_TOKEN }}
